* {
    font-family: Verdana;
    font-size: 12;
}

body {
    background: #000;
    width: 90%;

}

.wrapper {
    display: flex;

}

.menu {

}

.social {

}

.blocks {

}

#block1 {

}

#block2 {

}

#block3 {
    
}

footer {

}